#active-button{  
    background-color: #dc493a;
    color:  #000000;
    border: none;

    &:hover{
        background-color: #e06052;
        color: #000000;
        cursor: pointer;
        text-decoration: underline;
    };
    
    &:active{
        background-color: #da402f;
        color:  #000000;
        cursor: pointer;
        text-decoration: underline;
    };
}