/* Used in  /Components/PreviewTopics/Components/DatabaseDisplays/TopicsListChoose */
/* Used in  /Components/PreviewTopics/Components/DatabaseDisplays/WordsPreviewTable */

.list_group-height{
    max-height: 210px;
    --bs-list-group-active-bg: #66C2E1;
};

.list_group-active-background{
    --bs-list-group-active-bg: #66C2E1;
}