/* Used in  /Components/PreviewTopics/Components/DatabaseDisplays/TopicsListChoose */
/* Used in  /Components/PreviewTopics/Components/DatabaseDisplays/WordsPreviewTable */

.list_group-height{
    max-height: 210px;
    --bs-list-group-active-bg: #ea8f85;
    --bs-list-group-active-color: #000000;
};